

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;
}

.container2 {
    max-width: 1500px;
    margin: 0 auto;
    padding-left: 238px;
    padding-right: 238px;
}

/* HEADER */

header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: rgba(13, 13, 13, 1);
}


.nav {
    display: flex;
}

.nav .left,
.nav .right {
    flex: 15%;
}

.nav .center {
    flex: 70%;
    display: flex;
    align-items: center;
}

.nav .left img {
    padding: 30px 0;
    /* width: 100%; */
}

.nav .center a {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.9;
    text-decoration: none;
    vertical-align: middle;
    margin-left: 50px;
}

.nav .center .home {
    margin-left: 130px;
}

.nav .right {
    display: flex;
    align-items: center;
    justify-content: end;
}

.nav .right a {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: #1C1D28;
    text-align: center;
    background-color: rgba(255, 210, 164, 1);
    backdrop-filter: blur(40px);
    border-radius: 12px;
    text-decoration: none;
    padding: 20px 46px;
}

.nav .right a:hover {
    background-color: rgba(242, 199, 155, 1)
}


.btn_hamburger {
    display: none;
}

/* MAIN */

/* Hero section */

.hero_section {
    background-image: url(../images/about_images/hero_image.png);
    background-repeat: no-repeat;
    background-size: cover;
}



.hero p {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    padding-top: 170px;
}

.hero h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #161722;
    margin-top: 16px;
    padding-bottom: 250px;
}

/* Welcome section */



.welcome p:nth-child(1) {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    color: #161722;
    padding-top: 140px;
    padding-bottom: 16px;
}

.welcome h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #161722;
    margin-bottom: 32px;
}

.welcome p:nth-child(2) {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #161722;
    opacity: 0.78;
}

.love_complect {
    display: flex;
    justify-content: space-between;
    margin-top: 112px;
    gap: 24px;
}

.extra {
    display: none;
}

.praying_w {
    margin-top: -70px;
    width: 380px;
    height: 400px;
}

.welcome_bottom {
    display: flex;
    justify-content: space-around;
    padding-bottom: 128px;
}

.welcome_bottom .left {
    max-width: 370px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}


.welcome_bottom .left p:nth-child(1) {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #161722;
}

.welcome_bottom .left h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #161722;
}

.welcome_bottom .left p:nth-child(2) {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #161722;
    opacity: 0.78;
}

.welcome_bottom .right {
    max-width: 370px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}


.welcome_bottom .right p:nth-child(1) {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #161722;
}

.welcome_bottom .right h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #161722;
}

.welcome_bottom .right p:nth-child(2) {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #161722;
    opacity: 0.78;
}


/* Benefits section */

.benefits p:nth-child(1) {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #161722;
}

.benefits h2 {
    padding-top: 16px;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #161722;
    padding-bottom: 64px;
}

.benefits h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #161722;
}

.benefits p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #161722;
    opacity: 0.78;
}

.section1 {
    display: flex;
    justify-content: space-around;
    gap: 24px;
}

.section1 .left {
    padding-top: 90px;
}

.benefits .left {
    max-width: 500px;
}

.section2 {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    gap: 48px;
}

.section2 .left {
    padding-top: 170px;
}

.section2 .right {
    padding-top: 96px;

}

.section3 {
    display: flex;
    justify-content: space-around;
    gap: 24px;
}

.section3 .left {
    padding-top: 170px;
}

.section3 .right {
    padding-top: 96px;
}

.section4 {
    display: flex;
    justify-content: space-around;
    gap: 48px;
    flex-direction: row-reverse;
}

.section4 .left {
    padding-top: 170px;
}

.section4 .right {
    padding-top: 96px;
}


/* Our team section */

.our_team {
    padding-top: 128px;
}

.our_team p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #161722;
    text-align: center;
}

.our_team h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #161722;
    padding-bottom: 64px;
}

.boxes {
    display: flex;
    justify-content: space-around;
    gap: 24px;
}

.box1 {
    max-width: 302px;
    background: #F5F2F0;
    margin-bottom: 128px;
}

.box2 {
    max-width: 302px;
    background: #F5F2F0;
    margin-bottom: 128px;
}

.box3 {
    max-width: 302px;
    background: #F5F2F0;
    margin-bottom: 128px;
}

.box4 {
    max-width: 302px;
    background: #F5F2F0;
    margin-bottom: 128px;
}

.person {
    padding: 48px 75px 26px;
}

.box1 h5,
.box2 h5,
.box3 h5,
.box4 h5 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #161722;
    text-align: center;
    padding-bottom: 8px;
}

.box1 p,
.box2 p,
.box3 p,
.box4 p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #161722;
    opacity: 0.7;
    padding-bottom: 18px;
}

.social {
    padding: 16px 107px 48px;
    display: flex;
    gap: 20px;
}


.social a {
    text-decoration: none;
}




/* FOOTER */

footer {
    background-color: #161722;
}

.footer {
    display: flex;
}

.footer .left {
    flex: 30%;
}

.footer .center1 {
    flex: 15%;
}

.footer .center2 {
    flex: 15%;
}

.footer .right {
    flex: 40%;
}

.footer .left .logo {
    margin-top: 64px;
}

.footer .left .p-desc {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}

.footer .left .p-top {
    margin-top: 32px;
}

.footer .left .p-top2 {
    margin-top: 16px;
}

.footer .left .mar-bot {
    margin-bottom: 70px;
}


.footer .center1 .quick {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-top: 65px;
}

.footer .center1 a {
    display: inline-block;
    text-decoration: none;
    margin-top: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.78;
}

.footer .center2 a {
    text-decoration: none;
}

.footer .center2 .fb {
    margin-top: 20px;
}

.footer .center2 .soc-m {
    margin-left: 20px;
}

.footer .center2 p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-top: 64px;
}

.footer .right h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 64px;
}

.footer input {
    margin-top: 55px;
    padding: 25px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 12px 0 0 12px;
    background-color: #161722;
    color: white;
    width: 290px;
    outline: none;
}

.footer button {
    padding: 25.5px 64px;
    background-color: rgba(255, 210, 164, 1);
    border-radius: 12px;
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #1C1D28;
    cursor: pointer;
}

.footer button:hover {
    background-color: rgba(242, 199, 155, 1)
}



/* RESPONSIVE */


/* For tablet */


@media only screen and (max-width:1000px) {

    /* HEADER  */

    .container {
        max-width: 990px;
        padding: 0 30px;
    }

    .container2 {
        max-width: 790px;
        padding: 0 30px;
    }

    .nav .center .home {
        margin-left: 50px;
    }

    .nav .right a {
        padding: 20px 30px;
    }

    /* HERO  */
    .hero p,
    .hero h2 {
        text-align: center;
    }

    /* WELCOME  */

    .love_complect {
        display: flex;
        justify-content: space-around;
        gap: 0px;
    }

    .praying_w img {
        display: none;
    }

    .extra {
        display: flex;
        justify-content: center;
        padding-top: 40px;
    }

    .love_img {
        max-width: 450px;
        height: 350px;
    }

    .welcome h2 {
        font-size: 26px;
    }

    /* BENEFITS  */

    .section1 {
        display: flex;
        flex-direction: column-reverse;
    }

    .section1 .left,
    .section1 img {
        max-width: 950px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 50px;
    }

    .section2 {
        display: flex;
        justify-content: space-around;
        flex-direction: column-reverse;
    }

    .section2 .left,
    .section2 img {
        max-width: 950px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 50px;
    }

    .section3 {
        display: flex;
        justify-content: space-around;
        flex-direction: column-reverse;
    }

    .section3 .left,
    .section3 img {
        max-width: 950px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 50px;
    }

    .section4 {
        display: flex;
        justify-content: space-around;
        flex-direction: column-reverse;
    }

    .section4 img {
        max-width: 950px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 50px;
        margin-bottom: 30px
    }

    .section4 .left {
        padding-bottom: 90px;

    }

    /* OUR TEAM */

    .boxes {


        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }


    /* FOOTER */



}

@media only screen and (max-width:727px) {
    .btn_hamburger {
        display: block;
        max-height: 40px;
        margin: 30px 50px;
    }

    nav {
        display: flex;
        justify-content: space-evenly;
    }

    .nav {
        display: flex;
        align-items: stretch;
    }

    .nav_item {
        display: none;
    }

    .center2 {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding-top: 80px;
    }

    .center2 p {
        display: none;
    }

    .footer .center2 .soc-m {
        margin-left: 0px;
    }



    .footer .right button {
        display: flex;
        justify-content: center;
    }
}


/* FOR TELEPHONE */


@media only screen and (max-width:576px) {

    /* header */
    nav {
        display: flex;
        justify-content: space-evenly;
    }

    /* welcome */
    .welcome p:nth-child(1) {
        padding-top: 40px;
    }

    /* welcome */
    .love_complect {
        display: flex;
        flex-direction: column;
        gap: 150px;
        align-items: center;
    }

    .extra {
        display: none;
    }

    .praying_w img {
        display: block;
        padding-top: 0px;
        justify-content: stretch;

    }



    .welcome_bottom {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;

    }

    /* Our team */
    .our_team h2 {
        padding-bottom: 24px;
    }

    .boxes {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .box1 {
        margin-bottom: 28px;
    }

    .box2 {
        margin-bottom: 28px;
    }

    .box3 {
        margin-bottom: 28px;
    }

    .box4 {
        margin-bottom: 48px;
    }

    /* FOOTER  */

    .footer {
        display: flex;
        flex-direction: column;
    }

    .center2 {
        display: flex;
        flex-direction: row;
    }

    .footer .center2 .fb {
        margin-top: 0px;
    }

}