.container1 {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #161722;
  opacity: 0.78;
  margin-left: 20%;
}

.Relationship1 {
  text-align: center;
  padding-top: px;
  margin-top: 100px;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  background: linear-gradient(109.61deg, #a54e2b -53.83%, #dc9853 62.61%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

}
.Relationship > h1 {
  text-align: center;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #161722;
  margin-top: 16px;
}

.spich {
  padding-right: 50px;
}

.center2{
    text-align: center;
    padding-bottom: 50px;
    margin-top: 16px;

}

.v-line{
  display: inline-block;
  border-left: 6px solid #FFD2A4;
  width: 3px;
  height: 120px;
  background-color: #FFD2A4;
  margin-left: 20%;
  margin-top: 24px;
  vertical-align: middle;
}

.line-lorem{
  display: inline-block;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: #161722;
  opacity: 0.78;
  vertical-align: middle;
  margin-left: 24px;
  margin-top: 20px;
}

.dot{
  margin-left: 2%;
}

.main-section {
  margin-left: 20%;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 64px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #161722;
  margin-top: 64px;
}

.li-lorem{
  margin-top: 32px;
}

.lorem {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #161722;
  opacity: 0.78;
  text-align: center;
  width: 0 auto;
  margin: auto;
  margin-bottom: 20px;
  margin-left: 150px;
}


.lorem-4{
  margin-top: 32px;
}

.lorem-5{
  margin-top: 24px;
}

.Aenean {
  width: 700px;
  margin: 0 auto;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #161722;
  opacity: 0.78;
  top: 20px;
}

.img {
  text-align: center;
  margin: 48px 0;
}


.lorem-1{
  margin-top: 30px;
}

.lorem-3{
  margin-top: 40px;
}

.main-section3 {
  margin-left: 20%;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #161722;
  padding-top: 15px;
  padding-bottom: 15px;
}

.loremm {
  margin-top: 15px;
}

@media (max-width: 999px){
  
  .Relationship>h2{
    font-size: 25px;
  }

  .Relationship.center2{
    font-size: 20px;
  }  

  .spich{
    width: 650px;
    min-height: 400px;
    position: 50% 50%;
  }

  /* main section */

  .main-section{
    font-size: 20px;
  }

  .container1{
    width: 500px;
    margin-left: 2%;
  }

  img{
    width: 450px;
  }

  .main-section3{
    font-size: 25px;
  }
}
/* phone */


@media (max-width: 576px){
  .Relationship>h1{
    font-size: 15px;
  }

  .Relationship .center2{
    font-size: 14px;
  }  

  .spich{
    width: 350px;
    min-height: 200px;
    position: 50% 50%;
  }

  /* main selection */

  .main-section{
    font-size: 15px;
  }

  .container1{
    width: 300px;
    
    font-size: 14px;
  }

  img{
    width: 300px;
  }

  .main-section3{
    font-size: 15px;
  }
}
