@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sen:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Header */

header {
  background: rgba(13, 13, 13, 1);
}

header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top_img {
  max-width: 300px;
}

.nav_lists {
  display: flex;
  gap: 48px;
  align-items: center;
  margin: 30px 40px;
}

.nav_lists_link {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.9;
}

.buttons {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #1c1d28;
  align-items: center;
  padding: 20px 48px;
  background: #ffd2a4;
  backdrop-filter: blur(40px);
  border-radius: 12px;
}

.btn_humburger {
  display: none;
}

.hero {
  background-image: url(../images/home_images/woman-in-orange-coat-with-black-and-brown-scarf-5418305.jpg);
  width: 100%;
  height: 580px;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero_text_top {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 120px;
  margin-bottom: 16px;
}

.hero-top > h1 {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  line-height: 70px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #ffffff;
  max-width: 450px;
  margin-bottom: 32px;
}

.hero-top > a {
  /* margin-bottom: 60px; */
  padding: 20px 56px;
}

.hero_bot {
  display: flex;
  flex-direction: column-reverse;
  /* align-items: center; */
  margin-top: 60px;
  /* margin-bottom: 100px; */
}

.hero_bottom_line {
  width: 30px;
  border: 2px solid #ffd2a4;
  /* transform: rotate(-180deg); */
}

.hero_bottom_text {
  width: 308px;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.sub_head {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #161722;
  padding: 60px 0 16px;
}

.sub_past {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #161722;
  margin-bottom: 64px;
}

.relevant_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1050px;
  margin: auto;
}

.relevant_list_item {
  width: 340px;
  background: #fff5eb;
}

.rel_img {
  padding: 50px 0 20px 40px;
}

.relevant_list_item > h3 {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #161722;
  padding: 0 0 0 40px;
}

.relevant_list_item > p {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #161722;
  max-width: 290px;
  padding: 0 0 0 40px;
}

.relevant_list_item > hr {
  width: 340px;
  height: 14px;
  background: #ffd2a4;
  transform: matrix(1, 0, 0, -1, 0, 0);
  margin-top: 40px;
}

.love {
  margin-bottom: 100px;
}

.love > div > p {
  max-width: 900px;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #161722;
  opacity: 0.78;
  margin: auto;
  padding-bottom: 50px;
}

.love > div > a {
  font-family: "Roboto Condensed";
  font-style: normal;
  margin-left: 480px;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #1c1d28;
  align-items: center;
  padding: 24px 64px;
  gap: 16px;
  background: #ffd2a4;
  border-radius: 12px;
}

.love_complect {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: auto;
  padding-bottom: 50px;
  /* position: relative; */
}

.praying_w {
  /* margin: 60px 305px;
  position: absolute; */
  margin-top: 60px;
  width: 340px;
  height: 400px;
  margin-right: 50px;
}

.vision_text {
  padding-top: 130px;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-left: 324px;
  text-transform: uppercase;
  color: #161722;
  margin-bottom: 16px;
}

.vision > h2 {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #161722;
  margin-bottom: 16px;
}

.vision > p {
  max-width: 512px;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-left: 320px;
  text-align: center;
  color: #161722;
  opacity: 0.78;
}

.vision > div {
  display: flex;
  align-items: center;
  margin-bottom: 128;
  justify-content: center;
  margin-top: 16px;
  flex-direction: row;
}

.vision > div > a {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  align-items: flex-end;
  color: #161722;
  padding-right: 5px;
}

.benifit {
  background: #f5f2f0;
}

.benifit > div > p {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #161722;
  padding-top: 120px;
  padding-bottom: 20px;
}

.benifit > div > h2 {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #161722;
  margin-bottom: 60px;
}

.benifit > div > div {
  display: flex;
  justify-content: space-between;
  padding-bottom: 128px;
}

.benifit_img {
  max-width: 280px;
}

.benifit_list {
  justify-content: space-between;
  position: relative;
  max-width: 250px;
}

.benifit_item {
  position: absolute;
  margin-top: -350px;
}

.benifit_item > h3 {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #d9d6d6;
  margin: 150px 10px 16px 15px;
}

.benifit_item > p {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  opacity: 0.78;
  margin: 0 16px 25px 20px;
  padding-bottom: 20px;
}

.register {
  margin-bottom: 100px;
}

.register > div > p {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  line-height: 19px;
  text-transform: uppercase;
  color: #161722;
  padding: 120px 0 16px;
}

.register > div > h2 {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #161722;
  margin-bottom: 60px;
}

.register > div > div {
  display: flex;
}

.register > div > div > img {
  max-width: 750px;
}

.register_left {
  background: #fff5eb;
  max-width: 450px;
  width: 100%;
}

.register_left > p:nth-child(1) {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  background: linear-gradient(109.61deg, #a54e2b -53.83%, #dc9853 62.61%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  padding: 50px 0px 0px 60px;
}

.register_left > h3 {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  max-width: 200px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #161722;
  margin: 16px 0px 16px 60px;
}

.register_left_left {
  display: flex;
  gap: 10px;
  margin-left: 60px;
  margin-top: 30px;
}

.register_left_right {
  display: flex;
  gap: 10px;
  margin-left: 60px;
  margin-top: -20px;
  padding-bottom: 40px;
}

.register_left > p:nth-child(3) {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #161722;
  opacity: 0.78;
  max-width: 260px;
  margin-left: 60px;
}

.register_time {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #161722;
}

.register_left > a {
  font-family: "Roboto Condensed";
  font-style: normal;
  margin-left: 60px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #ffd2a4;
  padding: 16px 45px;
  gap: 16px;
  background: #161722;
  backdrop-filter: blur(40px);
  border-radius: 12px;
}

.register_view {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: right;
}

.register_view > a {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #161722;
  padding-top: 48px;
}

.serving {
  background-image: url(../images/home_images/Background.svg);
  max-width: 100%;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
}

.serving_container {
  max-width: 768px;
  width: 100%;
  background: #ffffff;
  backdrop-filter: blur(20px);
  top: 100px;
  height: 400px;
  position: relative;
}

.serving_container > div .serving_container_title {
  font-family: "Roboto Condensed";
  font-style: normal;
  max-width: 420px;
  font-weight: 700;
  left: 60px;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #161722;
  padding-top: 60px;
  padding-left: 40px;
}

.serving_container > p {
  font-family: "Roboto Condensed";
  font-style: normal;
  max-width: 300px;
  padding-left: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #161722;
  opacity: 0.78;
  margin-bottom: 50px;
}

.serving_container_title {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #161722;
  padding: 100px 0px 40px 40px;
}

.serving_container > img {
  position: absolute;
  left: 480px;
  bottom: 70px;
}

.serving_container > a {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #1c1d28;
  padding: 18px 45px;
  background: #ffd2a4;
  border-radius: 12px;
  margin-left: 40px;
}

.blog {
  padding-bottom: 100px;
  background: #f7f6f6;
}

.blog > div > p {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #161722;
  padding-top: 100px;
  padding-left: 530px;
  padding-bottom: 16px;
}

.blog > div > h2 {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #161722;
  padding-bottom: 50px;
  padding-left: 0px;
}

.blog_list {
  display: flex;
  justify-content: space-between;
}

.blog_list_item {
  max-width: 250px;
  text-align: center;
  background: #fff5eb;
}

.blog_list_item > .one {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  background: linear-gradient(109.61deg, #a54e2b -53.83%, #dc9853 62.61%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  padding-top: 20px;
  padding-bottom: 13px;
  padding-left: 15px;
}

.blog_list_item > h3 {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #161722;
  padding-bottom: 10px;
}

.blog_list_item > .two {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #161722;
  opacity: 0.78;
  padding-bottom: 38px;
}

.blog_list_item > .three,
.four {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #161722;
  padding-bottom: 10px;
}

footer {
  background-color: #161722;
}

.footer {
  display: flex;
}

.footer .left {
  flex: 30%;
}

.footer .center1 {
  flex: 15%;
}

.footer .center2 {
  flex: 15%;
}

.footer .right {
  flex: 40%;
}

.footer .left .logo {
  margin-top: 64px;
}

.footer .left .p-desc {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
}

.footer .left .p-top {
  margin-top: 32px;
}

.footer .left .p-top2 {
  margin-top: 16px;
}

.footer .left .mar-bot {
  margin-bottom: 70px;
}


.footer .center1 .quick {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  margin-top: 65px;
}

.footer .center1 a {
  display: inline-block;
  text-decoration: none;
  margin-top: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #FFFFFF;
  opacity: 0.78;
}

.footer .center2 a {
  text-decoration: none;
}

.footer .center2 .fb {
  margin-top: 20px;
}

.footer .center2 .soc-m {
  margin-left: 20px;
}

.footer .center2 p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  margin-top: 64px;
}

.footer .right h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-top: 64px;
}

.footer input {
  margin-top: 55px;
  padding: 18px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 12px 0 0 12px;
  background-color: #161722;
  color: white;
  width: 220px;
  outline: none;
}

.footer button {
  padding: 18.5px 40px;
  background-color: rgba(255, 210, 164, 1);
  border-radius: 12px;
  border: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #1C1D28;
  cursor: pointer;
}

.footer button:hover {
  background-color: rgba(242, 199, 155, 1)
}

@media only screen and (max-width: 1024px) {
  /* Header */

  .top_img {
    width: 100px;
    padding: 15px 0;
    background-position: center;
  }

  .nav_lists_link {
    font-size: 12px;
  }

  .buttons {
    font-size: 12px;
    padding: 10px 20px;
  }

  .hero {
    background-image: url(../images/home_images/woman-in-orange-coat-with-black-and-brown-scarf-5418305.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1024px;
    height: 500px;
  }

  .relevant_list {
    display: flex;
    flex-wrap: wrap;
  }

  .relevant_list > .third {
    /* margin-top: 40px; */
    margin: 40px auto;
    width: 600px;
  }

  .love > div > a {
    margin: 320px auto;
  }

  .praying_w {
    max-width: 500x;
  }

  .k {
    max-width: 400px;
    padding-bottom: 40px;
  }

  .love_complect {
    display: flex;
    flex-wrap: wrap;
    padding-top: 100px;
  }

  .vision {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1000px;
  }

  .b_lists{
    display: flex;
    flex-direction: column;
  }

  .register_sides {
    display: flex;
    flex-direction: column;
  }

  .vergul {
    margin-left: -180px;
  }

  .blog > p {
    margin-left: -150px;
  }

  .blog_list {
    display: flex;
    flex-wrap: wrap;
    max-width: 250px;
    margin-left: 50px;
  }

  .five {
    margin-bottom: 30px; 
  }

  .footer .right {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
}

@media only screen and (max-width: 567px) {
  /* heeader */

  .nav_lists {
    display: none;
  }

  header > div > div {
    display: flex;
    gap: 10px;
  }

  .btn_humburger {
    display: block;
    color: #ffd2a4;
  }

  .hero {
    height: 600px;
  }

  .hero_text_top {
    font-size: 6;
  }

  .hero-top_title {
    font-size: 10px;
  }

  .hero-top_button {
    padding: -10px -20px;
  }

  .tek {
    display: flex;
    flex-direction: row;
    justify-content: left;
  }

  .vergul {
    margin-left: -280px;
    max-width: 50px;
  }

  .sem {
    margin-left: -350px;
  }

  .footer {
    display: flex;
    flex-direction: column;
  }
  
  .center2 {
    display: flex;
    flex-direction: row;
  }
  
  .footer .center2 .fb {
    margin-top: 0px;
  }
}

